# Node
node_modules/
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Supabase
backend/supabase/.temp/
backend/supabase/.branches/
backend/supabase/.cache/

# Misc
coverage/

venv
ai/__pycache__
ai/venv
rice_model.pth